<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SOR.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B7353E9C061D4B7B69543849EEFBBFC52EFE7965</string>
				<key>dateExpires</key>
				<string>03/03/27</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B7353E9C061D4B7B69543849EEFBBFC52EFE7965</string>
						<key>dateExpires</key>
						<string>03/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAnalytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G6SBPYL3ZX</string>
						<key>name</key>
						<string>BALI TOWERINDO SENTRA, PT Tbk</string>
					</dict>
					<key>versionNumber</key>
					<string>12.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>3.4.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B7353E9C061D4B7B69543849EEFBBFC52EFE7965</string>
						<key>dateExpires</key>
						<string>03/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleAdsOnDeviceConversion.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G6SBPYL3ZX</string>
						<key>name</key>
						<string>BALI TOWERINDO SENTRA, PT Tbk</string>
					</dict>
					<key>versionNumber</key>
					<string>3.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B7353E9C061D4B7B69543849EEFBBFC52EFE7965</string>
						<key>dateExpires</key>
						<string>03/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurement.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G6SBPYL3ZX</string>
						<key>name</key>
						<string>BALI TOWERINDO SENTRA, PT Tbk</string>
					</dict>
					<key>versionNumber</key>
					<string>12.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B7353E9C061D4B7B69543849EEFBBFC52EFE7965</string>
						<key>dateExpires</key>
						<string>03/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurementIdentitySupport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G6SBPYL3ZX</string>
						<key>name</key>
						<string>BALI TOWERINDO SENTRA, PT Tbk</string>
					</dict>
					<key>versionNumber</key>
					<string>12.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B7353E9C061D4B7B69543849EEFBBFC52EFE7965</string>
						<key>dateExpires</key>
						<string>03/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OneSignalCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G6SBPYL3ZX</string>
						<key>name</key>
						<string>BALI TOWERINDO SENTRA, PT Tbk</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B7353E9C061D4B7B69543849EEFBBFC52EFE7965</string>
						<key>dateExpires</key>
						<string>03/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OneSignalExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G6SBPYL3ZX</string>
						<key>name</key>
						<string>BALI TOWERINDO SENTRA, PT Tbk</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B7353E9C061D4B7B69543849EEFBBFC52EFE7965</string>
						<key>dateExpires</key>
						<string>03/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OneSignalFramework.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G6SBPYL3ZX</string>
						<key>name</key>
						<string>BALI TOWERINDO SENTRA, PT Tbk</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B7353E9C061D4B7B69543849EEFBBFC52EFE7965</string>
						<key>dateExpires</key>
						<string>03/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OneSignalInAppMessages.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G6SBPYL3ZX</string>
						<key>name</key>
						<string>BALI TOWERINDO SENTRA, PT Tbk</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B7353E9C061D4B7B69543849EEFBBFC52EFE7965</string>
						<key>dateExpires</key>
						<string>03/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OneSignalLiveActivities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G6SBPYL3ZX</string>
						<key>name</key>
						<string>BALI TOWERINDO SENTRA, PT Tbk</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B7353E9C061D4B7B69543849EEFBBFC52EFE7965</string>
						<key>dateExpires</key>
						<string>03/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OneSignalNotifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G6SBPYL3ZX</string>
						<key>name</key>
						<string>BALI TOWERINDO SENTRA, PT Tbk</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B7353E9C061D4B7B69543849EEFBBFC52EFE7965</string>
						<key>dateExpires</key>
						<string>03/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OneSignalOSCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G6SBPYL3ZX</string>
						<key>name</key>
						<string>BALI TOWERINDO SENTRA, PT Tbk</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B7353E9C061D4B7B69543849EEFBBFC52EFE7965</string>
						<key>dateExpires</key>
						<string>03/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OneSignalOutcomes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G6SBPYL3ZX</string>
						<key>name</key>
						<string>BALI TOWERINDO SENTRA, PT Tbk</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B7353E9C061D4B7B69543849EEFBBFC52EFE7965</string>
						<key>dateExpires</key>
						<string>03/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OneSignalUser.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G6SBPYL3ZX</string>
						<key>name</key>
						<string>BALI TOWERINDO SENTRA, PT Tbk</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B7353E9C061D4B7B69543849EEFBBFC52EFE7965</string>
						<key>dateExpires</key>
						<string>03/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>G6SBPYL3ZX.id.jds.mobilesalesretail.Notification</string>
						<key>com.apple.developer.team-identifier</key>
						<string>G6SBPYL3ZX</string>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>Notification.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>b787a2e9-9f5e-4833-b55e-ff9fd45adf11</string>
						<key>dateExpires</key>
						<string>21/04/27</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: id.jds.mobilesalesretail.Notification</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G6SBPYL3ZX</string>
						<key>name</key>
						<string>BALI TOWERINDO SENTRA, PT Tbk</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>G6SBPYL3ZX.id.jds.mobilesalesretail</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>G6SBPYL3ZX</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>SOR.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>db255a8f-bfc9-462e-b953-640dc894e2b4</string>
				<key>dateExpires</key>
				<string>21/04/27</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: id.jds.mobilesalesretail</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>G6SBPYL3ZX</string>
				<key>name</key>
				<string>BALI TOWERINDO SENTRA, PT Tbk</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
